body {
  font-family: "Gill Sans", "sans-serif";
  background-color: #adbada;
  font-style: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 1%;
  padding: 0px;
}